.home {
    padding: 20px;
}

.skeleton-grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.skeleton-card {
    width: 200px;
    height: 300px;
    background: #ddd;
    border-radius: 10px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 8384b0b6e75bdbd4523edaefe3b9764d9903992b
